
/* Your CSS Code here. */
.container{
	display: flex;
	align-items: center;
	margin:30px;
	justify-content: center;
	justify-content: space-between;
	
}
.form{
	padding: 20px;
	margin: 30px;
	
}
input{
	margin: auto;
}
label input{
	padding: 4px;
}